@model WebApplication.Models.IndexViewModel

@{
    Layout = null;
    ViewBag.Title = "Flight Delays";
}

@using (Html.BeginForm("Search", "Home"))
{ 
    <div>
        Search flight delay data:
    </div>
    <div>
        @Html.Label("From Date:")
        @Html.TextBox("FromDate")
    </div>
    <div>
        @Html.Label("To Date:")
        @Html.TextBox("ToDate")
    </div>
    <div>
        @Html.Label("Airline:")
        @Html.DropDownList("AirlineId", Model.Airlines.Select(a => new SelectListItem { Value = a.Id.ToString(), Text = a.Description }), "All")
    </div>
    <div>
        @Html.Label("Origin:")
        @Html.DropDownList("OriginId", Model.Airports.Select(a => new SelectListItem { Value = a.Id.ToString(), Text = a.Description }), "All")
    </div>
    <div>
        @Html.Label("Destination:")
        @Html.DropDownList("DestinationId", Model.Airports.Select(a => new SelectListItem { Value = a.Id.ToString(), Text = a.Description }), "All")
    </div>
    <div>
        <input type="submit" value="Search" />
    </div>
}
